.wrapper
{
    color: white;
    padding: 0.5rem;
    min-height: 100vh;
    background-color: black;
}

.navbar
{
    padding: 0.5rem 0.25rem;
    border-bottom: 1px solid white;

    &__header
    {
        flex: 1 1 auto;
        font-size: 1.5rem;

        &:visited
        {
            color: white;
        }

        &:hover
        {
            color: gray;
        }
    }
}

.footer
{

}

// Generics
.no-margins
{
    margin: 0;
}
.is-flex
{
    display: flex;
}