extends layout

block content
  main
    h1 #{family} Family
    .category
      h3.category__header Monster Families
      hr.category__rule
      +monsterFamily("slime")
      +monsterFamily("dragon")
      +monsterFamily("beast")
      +monsterFamily("bird")
      +monsterFamily("plant")
      +monsterFamily("bug")
      +monsterFamily("devil")
      +monsterFamily("zombie")
      +monsterFamily("material")
      +monsterFamily("water")
      +monsterFamily("boss")
