extends layout

block content
  main
    h1 Monster Guide
    p This is tool for browsing monster information for the various monsters found in the #[a.link(href="https://dragonquest.fandom.com/wiki/Category:Monsters_series_games") Dragon Warrior Monsters] video game series.
    .category
      h3.category__header Monster Families
      hr.category__rule
      a.category__link(href="/Slime")
        img(src="https://via.placeholder.com/35")
      a.category__link(href="/Dragon")
        img(src="https://via.placeholder.com/35")
      a.category__link(href="/Beast")
        img(src="https://via.placeholder.com/35")
      a.category__link(href="/Bird")
        img(src="https://via.placeholder.com/35")
      a.category__link(href="/Plant")
        img(src="https://via.placeholder.com/35")
      a.category__link(href="/Bug")
        img(src="https://via.placeholder.com/35")
      a.category__link(href="/Devil") 
        img(src="https://via.placeholder.com/35")
      a.category__link(href="/Zombie")
        img(src="https://via.placeholder.com/35")
      a.category__link(href="/Material")
        img(src="https://via.placeholder.com/35")
      a.category__link(href="/Water")
        img(src="https://via.placeholder.com/35")
      a.category__link(href="/Boss")
        img(src="https://via.placeholder.com/35")
