extends layout

block content
  main.is-flex
    .content
      h1 Monster Guide
      span last updated:
      p This is tool for browsing monster information for the monsters in the video game series #[a(href="https://dragonquest.fandom.com/wiki/Category:Monsters_series_games") Dragon Warrior Monsters].  This tool covers both the first games and their sequels.
    .sidebar
      p.sidebar__header Monster Categories
      a.sidebar__link(href="/Slime") Slime
      a.sidebar__link(href="/Dragon") Dragon
      a.sidebar__link(href="/Beast") Beast
      a.sidebar__link(href="/Bird") Bird
      a.sidebar__link(href="/Plant") Plant
      a.sidebar__link(href="/Bug") Bug
      a.sidebar__link(href="/Devil") Devil
      a.sidebar__link(href="/Zombie") Zombie
      a.sidebar__link(href="/Material") Material
      a.sidebar__link(href="/Boss") Boss
  footer.footer
    p Source code available on 
      a(href="https://github.com/ChanseNTaylor/MonsterGuide") GitHub
