extends layout

block content
  main
    p Monster Guide
    p last updated:
    p This is tool for browsing monster information for the monsters in the game Dragon Warrior Monsters.  This tool will later be expanded to include the second game Dragon Warrior Monsters 2.
  footer
    p Source code available on 
      a(href="/") GitHub