extends layout

block content
  main
    h1 Monster Guide
    p This is tool for browsing monster information for the various monsters found in the #[a.link(href="https://dragonquest.fandom.com/wiki/Category:Monsters_series_games") Dragon Warrior Monsters] video game series.
    .category
      h3.category__header Monster Families
      hr.category__rule
      +monsterFamily("slime")
      +monsterFamily("dragon")
      +monsterFamily("beast")
      +monsterFamily("bird")
      +monsterFamily("plant")
      +monsterFamily("bug")
      +monsterFamily("devil")
      +monsterFamily("zombie")
      +monsterFamily("material")
      +monsterFamily("water")
      +monsterFamily("boss")