mixin constructionWarning()
  .construction
    span #[b Attention:] This website is currently under construction!

doctype html
html(lang="en-us")
  head
    meta(charset="utf-8")
    link(rel="icon" href="/images/favicon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block title
      title DWM Monster Guide
      link(rel='stylesheet', href='/stylesheets/main.css')
  body
    .wrapper
      header
        +constructionWarning()
        nav.navbar
          a.navbar__header(href="/") DWM Monster Guide
          form
            input.navbar__input(type="text" placeholder="Search...")
            button.navbar__button(type="submit") GO
        hr
      block content
      block footer
        footer.footer
          p Source code available on #[a.link(href="https://github.com/ChanseNTaylor/MonsterGuide") GitHub]!
