doctype html
html(lang="en-us").no-margins
  head
    meta(charset="utf-8")
    title Dragon Warrior Monsters Monster Guide
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body.no-margins
    .wrapper
      header
        nav.is-flex.navbar
          a.navbar__header(href="/") DWM Monster Guide
          form
            input(type="text" placeholder="Search")
            button(type="submit") GO
      block content