mixin constructionWarning()
  .construction
    span #[b Attention:] This website is currently under construction!

mixin monsterFamily(text)
  a.category__link(href="/" + text)
    img.category__image(src="images/" + text + "family.png" alt=text + "icon.")

mixin monsterCategories()
  .category
      h3.category__header Monster Families
      hr.category__rule
      +monsterFamily("slime")
      +monsterFamily("dragon")
      +monsterFamily("beast")
      +monsterFamily("bird")
      +monsterFamily("plant")
      +monsterFamily("bug")
      +monsterFamily("devil")
      +monsterFamily("zombie")
      +monsterFamily("material")
      +monsterFamily("water")
      +monsterFamily("boss")

doctype html
html(lang="en-us")
  head
    meta(charset="utf-8")
    link(rel="icon" href="/images/favicon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block title
      title DWM Monster Guide
      link(rel='stylesheet', href='/stylesheets/main.css')
  body
    .wrapper
      header
        +constructionWarning()
        nav.navbar
          a.navbar__header(href="/") DWM Monster Guide
          form
            input.navbar__input(type="text" placeholder="Search...")
            button.navbar__button(type="submit") GO
        hr
      block content
      block footer
        footer.footer
          p Source code available on #[a.link(href="https://github.com/ChanseNTaylor/MonsterGuide") GitHub]!
